# Módulo 07, Tarefa 01

Vamos começar a mexer na nossa base de projeto? Já fizemos um exercício de montar a variável resposta, já pudemos perceber que essa atividade pode não ser trivial. Vamos agora trabalhar a base para que fique propícia ao *scikitlearn* para trabalharmos.

Lembrando, a base se chama demo01.csv, e originalmente está publicada [aqui](https://www.kaggle.com/rikdifos/credit-card-approval-prediction).

#### 1) Carregue a base e avalie:

- As variáveis
- Tipos de dados de cada variável
- Quantidade de missings
- Distribuição da variável resposta (mau)

In [4]:
import pandas as pd

# Carregar o arquivo CSV em um DataFrame
df = pd.read_csv('demo01.csv')

# Exibir as primeiras linhas para entender a estrutura dos dados
print(df.head())

# Verificar as variáveis e seus tipos de dados
print(df.dtypes)

# Verificar a quantidade de valores ausentes
print(df.isnull().sum())

# Verificar a distribuição da variável resposta (assumindo que seja 'mau')
print(df['mau'].value_counts())

  sexo posse_de_veiculo posse_de_imovel  qtd_filhos            tipo_renda  \
0    M                Y               Y           0               Working
1    F                N               Y           0  Commercial associate
2    F                N               Y           0  Commercial associate
3    M                Y               Y           0               Working
4    F                Y               N           0               Working

                        educacao          estado_civil    tipo_residencia  \
0  Secondary / secondary special               Married  House / apartment
1  Secondary / secondary special  Single / not married  House / apartment
2  Secondary / secondary special  Single / not married  House / apartment
3               Higher education               Married  House / apartment
4              Incomplete higher               Married  House / apartment

       idade  tempo_emprego  possui_celular  possui_fone_comercial  \
0  58.832877       3.106849               1                      0
1  52.356164       8.358904               1                      0
2  52.356164       8.358904               1                      0
3  46.224658       2.106849               1                      1
4  29.230137       3.021918               1                      0

   possui_fone  possui_email  qt_pessoas_residencia    mau
0            0             0                    2.0  False
1            1             1                    1.0  False
2            1             1                    1.0  False
3            1             1                    2.0  False
4            0             0                    2.0  False
sexo                      object
posse_de_veiculo          object
posse_de_imovel           object
qtd_filhos                 int64
tipo_renda                object
educacao                  object
estado_civil              object
tipo_residencia           object
idade                    float64
tempo_emprego            float64
possui_celular             int64
possui_fone_comercial      int64
possui_fone                int64
possui_email               int64
qt_pessoas_residencia    float64
mau                         bool
dtype: object
sexo                     0
posse_de_veiculo         0
posse_de_imovel          0
qtd_filhos               0
tipo_renda               0
educacao                 0
estado_civil             0
tipo_residencia          0
idade                    0
tempo_emprego            0
possui_celular           0
possui_fone_comercial    0
possui_fone              0
possui_email             0
qt_pessoas_residencia    0
mau                      0
dtype: int64
mau
False    16260
True       390
Name: count, dtype: int64

#### 2) Vamos montar um metadados

1. Crie um dataframe com os nomes de cada variável e o tipo de dados de cada variável.
2. Adicione uma coluna nesse *dataframe* chamada "qtd_categorias" e coloque nela o número de categorias correspondente de cada variável.
    Dica:
        1. inicie uma lista vazia
        2. faça um for ao longo dos nomes das variáveis,
        3. conte o número de categorias dessa variável
        4. acumule essa informação de 3. na lista que você criou em 1.
        5. No final, essa lista pode ser atribuída à nossa variável.

In [5]:
# Dados das variáveis conforme identificado anteriormente
data = {
    'variavel': ['sexo', 'posse_de_veiculo', 'posse_de_imovel', 'qtd_filhos', 'tipo_renda', 
                 'educacao', 'estado_civil', 'tipo_residencia', 'idade', 'tempo_emprego', 
                 'possui_celular', 'possui_fone_comercial', 'possui_fone', 'possui_email', 
                 'qt_pessoas_residencia', 'mau'],
    'tipo_dados': ['object', 'object', 'object', 'int64', 'object', 'object', 'object', 'object',
                   'float64', 'float64', 'int64', 'int64', 'int64', 'int64', 'float64', 'bool']
}

# Criar o DataFrame de metadados
metadata = pd.DataFrame(data)

# Função para contar categorias únicas em variáveis categóricas
def contar_categorias(col):
    if col.dtype == 'object':
        return col.nunique()
    else:
        return None

# Adicionar a coluna "qtd_categorias"
metadata['qtd_categorias'] = metadata['variavel'].apply(lambda x: contar_categorias(df[x]))

metadata

                 variavel tipo_dados  qtd_categorias
0                    sexo     object             2.0
1        posse_de_veiculo     object             2.0
2         posse_de_imovel     object             2.0
3              qtd_filhos      int64             NaN
4              tipo_renda     object             5.0
5                educacao     object             5.0
6            estado_civil     object             5.0
7         tipo_residencia     object             6.0
8                   idade    float64             NaN
9           tempo_emprego    float64             NaN
10         possui_celular      int64             NaN
11  possui_fone_comercial      int64             NaN
12            possui_fone      int64             NaN
13           possui_email      int64             NaN
14  qt_pessoas_residencia    float64             NaN
15                    mau       bool             NaN

#### 3) Crie variáveis dummy para as variáveis necessárias (i.e. aquelas que são qualitativas e não estão armazenadas como {0, 1} ou {True, False}. Crie um *dataframe* apenas com as variáveis apropriadas para entrada no scikitlearn - elimine as variáveis tipo *str*, mantendo apenas suas versões *dummy*.

#### 4) Qual variável é mais poderosa?

Considere as variáveis ```possui_email``` e ```posse_de_veiculo```. Faça uma tabela cruzada entre elas e responda qual delas te parece mais poderosa para prever a probabilidade de ```mau = 1```?

#### 5) Salve a base, pois ela será utilizada no final deste módulo.